*{
	padding: 0;
	margin: 0;
	font-family: 'Roboto';
}

.clientes {
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    max-width: 100%;
    text-align: center;
    padding: 8% 0%;
    min-height: 100%;
        h1 {
            text-align: center;
            color: rgb(57, 181, 74);
            font-size: 2em;
            font-family: Raleway;
            font-weight: 400;
            margin-bottom: 0%;
            padding: 3% 1%;
        }
        h2 {
            text-align: center;
            color: rgb(102, 102, 102);
            font-size: 1.8em;
            font-family: Roboto;
            padding-bottom: 2%;
            font-weight: lighter;
            line-height: 140%;
        }
        ul {
            padding: 5% 0px;
            width: 100%;
            text-align: center;
            list-style-type: none;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-column-gap: 10%;
            grid-row-gap: 0%;
            margin: 10px;
        }
        li img {
            max-width: 50%;
            width: 50%;
        }
}

.icon-client {
    width: 60px;
    display: inline;
    position: relative;
}

.formclientes {
    margin: 1rem;
    padding: 1rem;
    background-color: #333;
    color:white;
    border-radius: 1rem;
    
}

.text-cliente {
    text-align: center;
    text-decoration: underline;
}