p {
    color: #333;
    position: absolute;
    top: 65%;
    left: 10%;
}

.servicio-img2 {
    width: 35%;
    height: 35%;
    position: absolute;
    left: 30%;
    top: 60%;
}

.iconserv {
    width: 60px;
    display: block;
    position: relative;
    text-align: center;
    margin: auto;
    padding-bottom: 5%;
    left: 0%;
}

.h1serv {
    text-shadow: 1px 1px 20px #fff;
    text-align: left;
    color: #39b54a;
    font-size: 2em;
    font-family: "Raleway";
    font-weight: 400;
    margin-bottom: 0%;
    padding: 3% 1%;
    position: relative;
    display: inline;
    top: -25px;
    left: 30%;
}

.serv-logistica {
    display: grid;
    margin: 1rem;
    padding: 1rem;
        h1 {
            text-align: center;
            color: #39b54a;
            font-family: "Raleway";
            text-decoration: underline;
        }
        h2 {
            font-family: "Raleway";
        }
        h3 {
            font-family: "Raleway"
        }
}
