p {
    color: #333;
    position: absolute;
    top: 65%;
    left: 10%;
}

.iconserv {
    width: 60px;
    display: block;
    position: relative;
    text-align: center;
    margin: auto;
    padding-bottom: 5%;
    left: 0%;
}

.h1serv {
    text-shadow: 1px 1px 20px #fff;
    text-align: left;
    color: #39b54a;
    font-size: 2em;
    font-family: "Raleway";
    font-weight: 400;
    margin-bottom: 0%;
    padding: 3% 1%;
    position: relative;
    display: inline;
    top: -25px;
    left: 30%;
}
